<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acompanhe sua ideia</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/bootstrap/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/buscar-ideias.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
    </style>
</head>
<body>
    <header id="header">
        <img src="../img/iconh.png" class="iconh" alt="" onclick="toggleMenu()">
    </header>
    
    <nav>
        <div id="menus" class="menu">
            <ul>
                <li><a href="index" onclick="selecionarMenu(0)">Inicio</a></li>
                <li><a href="consulta" class="active" onclick="selecionarMenu(1)">Acompanhe sua ideia</a></li>
                <li><a href="login" onclick="selecionarMenu(2)">Avaliar ideias</a></li>
            </ul>
        </div>
    </nav>




    <h1 class="text-center" style="color: rgb(255, 255, 255); font-weight: bold; font-size: 50pt; font-family: 'Play', sans-serif;">Thinking Eagles</h1>
    <h5 class="text-center" style="color: white;">Onde sua ideia vale muito!</h5>




    <div class="container d-flex justify-content-center align-items-center" id="myform">
        
        <span class="text-start" id="frasep">Pesquise por suas últimas ideias</span>
        <form class="row gx-3 gy-2 align-items-center">
          <div class="col-sm-8">
            <label class="visually-hidden" for="specificSizeInputName">Name</label>
            <input type="text" class="form-control" id="specificSizeInputName" placeholder="Seu nome aqui">
          </div>
        </form>
      </div>
      
     
    <div id="table-container">
        <table class="table-bordered table-responsive-sm" id="my-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Area de atuação</th>
            <th>Nome do Gestor</th>
            <th>Beneficio da ideia</th>
            <th>Data</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="ideia : ${listaDeIdeias}">
            <td class="id"><strong th:text="${ideia.id}"></strong></td>
            <td th:text="${ideia.dono}" class="dono"></td>
            <td th:text="${ideia.areaId}" class="area"></td>
            <td th:text="${ideia.gestorId}" class="gestor"></td>
            <td th:text="${ideia.beneficioId}" class="beneficio"></td>
            <td th:text="${ideia.dataIdeia}" class="data"></td>
            <td th:text="${ideia.status}" class="status"></td>
            <td class="detalhes">                       
            </td>
        </tr>
    </tbody>
</table>

    </div>
    
</body>
</html>