<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thinking Eagles</title>
   <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../bootstrap/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../js/script.js"></script>
    <style>

        /* Estilos personalizados para o formulário */
        .custom-form {
            margin-bottom: 20px;
        }

        .custom-form label {
            margin-bottom: 5px;
        }

        .custom-form textarea {
            resize: none;
        }

        .form-control{
            background-color: rgba(211, 211, 211, 0.158);
            border: none;
        }

        .mybtn {
            background-color: #c40e69;
            border: none;
            color: white;
            height: 35px;
            border-radius: 8px;
            padding: 5px;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: -20px;
        }

        .mybtn:hover {
            background-color: #831a4e;
        }
    </style>
</head>
<body>

<header id="header">
    <img src="../img/iconh.png" class="iconh" alt="" onclick="toggleMenu()">
</header>

<nav>
    <div id="menus" class="menu">
        <ul>
            <li><a href="index" class="active" onclick="selecionarMenu(0)">Inicio</a></li>
            <li><a href="consulta" onclick="selecionarMenu(1)">Acompanhe sua ideia</a></li>
            <li><a href="login" onclick="selecionarMenu(2)">Avaliar ideias</a></li>
        </ul>
    </div>
</nav>
        

<h1 class="text-center" style="color: rgb(255, 255, 255); font-weight: bold; font-size: 50pt; font-family: 'Play', sans-serif;">Thinking Eagles</h1>
<h5 class="text-center" style="color: white;">Onde sua ideia vale muito!</h5>

<div class="d-flex align-items-center justify-content-center" style="height: 100%;">
    <div>

        <div class="container mt-5"
             style="background-color: #ffffff2f; color: white; padding: 50px; border-radius: 20px; box-shadow: rgba(0, 0, 0, 0.416) 1px 1px 8px 1px;">
            <h2 class="text-center" style="color: #c40e69;">Preencha sua ideia aqui!</h2>

            <form class="custom-form mx-auto" id="idea-form">
                <div class="form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" placeholder="Digite seu nome">
                </div>
                <div class="form-group">
                    <label for="matricula">Matrícula (8 dígitos):</label>
                    <input type="number" class="form-control" id="matricula" placeholder="Digite sua matrícula"
                           minlength="8" maxlength="8">
                </div>
                <div class="form-group">
                    <label for="areaAtuacao">Área de Atuação:</label>
                    <select class="form-control" id="areaAtuacao">
                        <option value="">Selecione uma opção</option>
                        <option value="1">Manufatura</option>
                        <option value="2">Processos</option>
                        <option value="3">Sistemas</option>
                        <option value="4">Produto</option>
                        <option value="5">Automação</option>
                        <option value="6">Qualidade</option>
                        <option value="7">Materiais</option>
                    </select>
                </div>
            </form>
            <form class="custom-form mx-auto">
                <div class="form-group">
                    <label for="gestor">Nome do Gestor:</label>
                    <select class="form-control" id="gestor">
                        <option value="">Selecione uma opção</option>
                        <option value="1">Juari de Oliveira</option>
                        <option value="2">Rodrigo Ramon</option>
                        <option value="3">Fausto Corazza</option>
                        <option value="4">Julio Tebalde</option>
                        <option value="5">Giovanni Santana</option>
                        <option value="6">Antonio Bordon</option>
                        <option value="7">Julio Santos</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="beneficioIdeia">Benefício da Ideia:</label>
                    <select class="form-control" id="beneficioIdeia">
                        <option value="">Selecione uma opção</option>
                        <option value="1">5S</option>
                        <option value="2">Ganho de produção</option>
                        <option value="3">Redução de SCRAP</option>
                        <option value="4">Automatização</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="data">Data:</label>
                    <input type="date" class="form-control" id="data">
                </div>
            </form>
            <form class="custom-form mx-auto">
                <div class="form-group">
                    <label for="ideia">Digite sua Ideia:</label>
                    <textarea class="form-control" id="ideia" rows="4" placeholder="Descreva sua ideia"></textarea>
                </div>
                <button type="button" class="mybtn" onclick="submitForm()">Enviar ideia</button>
            </form>
        </div>
    </div>
</div>
<script>
    
</script>
</body>
</html>
